<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WriteTo" value="db"/>
  </appSettings>
  <connectionStrings>
    <add name="DBpath" connectionString="Data Source=INH-GUNDABAJ\SQLEXPRESS;Initial Catalog=sampleDB;User ID=sa;Password=Jatin@14"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>