<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BatchCount" value="5" />
    <add key="SleepInterval" value="10"/>
    <add key="BatchSize" value="100"/>
    <add key="Sleep" value="true"/>
    <add key="SourceLocation" value="C:\Jatin\filedep2\AckFiles"/>
    <add key="TrackingLocation" value="C:\Jatin\filedep2\Tracking"/>
    <add key="ArchiveLocation" value="C:\Jatin\filedep2\Archive"/>
    <add key="ReconcileLocation" value="C:\Jatin\filedep2\Reconcile"/>
    <add key="SuccessCodes" value="F000,D000"/>
    <add key="MinutesExpires" value="15"/>
    <add key="smtpAddress" value="smtp.gmail.com"/>
    <add key="emailFrom" value="jatin.023@gmail.com"/>    
    <add key="password" value="Mylord@14"/>
    <add key="emailTo" value="bhavya.mallela@gmail.com"/>
    <add key="isMail" value="true"/>
  </appSettings>
</configuration>