<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--IMI Batch Settings-->
    <add key="SourceLocation" value="C:\Jatin\filedep2\IMI\CCT\Input"/>
    <add key="InProcessLocation" value="C:\Jatin\filedep2\IMI\CCT\Input\Inprocess"/>
    <add key="OutputLocation" value="C:\Jatin\filedep2\IMI\CCT\Input\Modified"/>
    <add key="ArchiveLocation" value="C:\Jatin\filedep2\IMI\CCT\Input\Archive"/>
    <add key="SuppressedLocation" value="C:\Jatin\filedep2\IMI\CCT\Input\Suppressed"/>
    <add key="reportcsv" value="C:\Jatin\filedep2\IMI"/>
    <add key="BatchCount" value="5" />
    <add key="SleepInterval" value="10"/>
    <add key="BatchSize" value="100"/>
    <add key="Sleep" value="True"/>
  </appSettings>
</configuration>