<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--<add key="DPKMapping" value="C:\Jatin\OtherProjects\BavyaProjects\IMIFileGeneratorOutboundScheduler\SampleInputs\DPKMapping.csv"/>-->
    <add key="Input" value="C:\Jatin\OtherProjects\BavyaProjects\IMIFileGeneratorOutboundScheduler\SampleInputs\Input.txt"/>
    <add key="InputRootFolder" value="C:\Jatin\filedep2\IMI"/>
    <add key="OutboundSourceLocation" value="C:\Jatin\filedep2\Input"/>
    <add key="OutboundInProcessLocation" value="C:\Jatin\filedep2\Input\InProcess"/>
    <add key="OutboundArchiveLocation" value="C:\Jatin\filedep2\Input\Archive"/>
    <add key="OutboundOutputLocation" value="C:\Jatin\filedep2\Outbound"/>
    <add key="OutboundTrackingLocation" value="C:\Jatin\filedep2\Tracking"/>
    <add key="BatchCount" value="5" />
    <add key="SleepInterval" value="10"/>
    <add key="BatchSize" value="100"/>
    <add key="Sleep" value="True"/>
    <add key="DPKMapping" value="C:\Jatin\OtherProjects\DpkMapping.config"/>

    <!--SFTP Settings-->
    <add key="SFTPSourceLocation" value="C:\Jatin\filedep2\Outbound"/>
    <add key="SFTPInProcessLocation" value="C:\Jatin\filedep2\Outbound\InProcess"/>
    <add key="SFTPArchiveLocation" value="C:\Jatin\filedep2\Outbound\Archive"/>
    <add key="SFTPOutputLocation" value=""/>
    <add key="SFTPBatchCount" value="5" />
    <add key="SFTPSleepInterval" value="10"/>
    <add key="SFTPBatchSize" value="100"/>
    <add key="SFTPSleep" value="True"/>
  </appSettings>
</configuration>