<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="BATCH39" value="FLD_34,DTR_22"/>
    <add key="BATCH46D" value="FLD_29,DTR_22"/>
    <add key="BATCH63" value="FLD_29,DTR_22"/>-->
    <!--<add key="ENROCRBYPASS" value="P01_34,P02_35"/>-->
    <add key="ENROCRBYPASS" value="P01_34,P02_35"/>
  </appSettings>
</configuration>