<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Dpks" value="4UM,CRD-RECRED,CRD-APP"/>
    <add key="DailyIntervalInDays" value="1"/>
    <add key="MonthlyIntervalInMonths" value="1"/>
    <add key="smtpAddress" value="smtp.gmail.com"/>
    <add key="emailFrom" value="jatin.023@gmail.com"/>
    <add key="password" value=""/>
    <add key="emailTo" value="jatin.023@gmail.com"/>
    <add key="isMail" value="true"/>
    
  </appSettings>
  <connectionStrings>
    <add name="DBPath" connectionString="Data Source=LAPTOP-LFCCLLNN\SQLEXPRESS;Initial Catalog=jatindb;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>